server {
        listen 80;
        index index.html index.htm;
        server_name {{ vhost2 }}.local;
		return 301 https://$host$request_uri;

        access_log   /var/log/nginx/{{ vhost2 }}.192.168.1.200.access.log;
        error_log    /var/log/nginx/{{ vhost2 }}.192.168.1.200.error.log;

        location / {
                root {{ WWW_PATH }}/{{ vhost2 }}.local/;
        }
}

server {
		listen 443 ssl;
        index index.html index.htm;
        server_name {{ vhost2 }}.local;
			    
        include snippets/self-signed.conf;
        include snippets/ssl-params.conf;

        access_log   /var/log/nginx/{{ vhost2 }}.192.168.1.200.access.log;
        error_log    /var/log/nginx/{{ vhost2 }}.192.168.1.200.error.log;

        location / {
                root {{ WWW_PATH }}/{{ vhost2 }}.local/;
        }
}

